<div class="signup-wrapper">
  <h2>Signup</h2>
  <form [formGroup]="signupForm" novalidate>
    <div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label" for="userName">User Name</label>
        <input class="mdl-textfield__input" id="userName"  type="text" formControlName="userName"/>
      </div>
      <div class="error" [hidden]="userName.valid || userName.pristine">
        <span *ngIf="userName.errors && userName.errors['required'] == true">username is required field</span>
        <span *ngIf="userName.errors && userName.errors['minlength']">enter minimum 3 characters</span>
      </div>
    </div>
    <div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [ngClass]="{'ng-invalid': !email.valid}">
        <label class="mdl-textfield__label" for="email">Email</label>
        <input class="mdl-textfield__input" id="email" type="email" formControlName="email"/>
      </div>
      <div class="error" [hidden]="email.valid || email.pristine">
        <span *ngIf="email.errors && email.errors['required'] == true">email is required field</span>
        <span *ngIf="email.errors && email.errors['user-exists'] == true">email already exists</span>
      </div>
    </div>
    <div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label" for="password">Password</label>
        <input class="mdl-textfield__input" id="password" type="password" formControlName="password" #pwd/>
      </div>
      <div class="error" [hidden]="password.valid || password.pristine">
        <span>password is required field</span>
      </div>
    </div>
    <div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label" for="confirmPassword">Confirm Password</label>
        <input class="mdl-textfield__input" id="confirmPassword" type="password" formControlName="confirmPassword" [(ngModel)]="signupForm._value.confirmPassword" [match-with]="pwd"/>
      </div>
      <div class="error" [hidden]="confirmPassword.valid || confirmPassword.pristine">
        <span *ngIf="confirmPassword.errors && confirmPassword.errors['required'] == true">confirm password is required field</span>
        <span *ngIf="confirmPassword.errors && confirmPassword.errors['match-with'] == true">password and confirm password must match</span>
      </div>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--primary mdl-button--raised mdl-js-ripple-effect" (click)="signup()" type="submit" [disabled]="!signupForm.valid">Submit</button>
  </form>
</div>